@import url("layouts/form.css");

/********** main **********/
.main__area__inner {
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
}

/********** create__form **********/
.form__button {
    text-align: center;
}

.form__submit,
.back__button {
    width: 25%;
    margin: 0 10px;
}

.product__card--image {
    width: 400px;
    object-fit: fill;
}

.preview {
    font-size: small;
    margin: auto;
    color: #0085ff;
}