.main__area {
    background-color: #f8f8f8;
    padding-top: 40px;
}
/********** header **********/
.header {
    background-color: #fff;
}

.header__title {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 5px;
}

.header__title_inner {
    margin: 0;
    padding-left: 10px;
}

.header__logo {
    color: #f5c800;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}